.button {
  cursor: pointer;
  border: 1px solid #a9a9a9;
  background-color: #f3f3f3;
  padding: 0.5rem;
  border-radius: 0.5rem;
  &:focus {
    background: none;
  }
  &.loading {
    opacity: 0.3;
  }
}