.button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #ececec;
  cursor: pointer;
  position: relative;
  box-shadow: inset 1px 1px 1px 0px rgb(255 255 255 / 50%), 2px 2px 2px 0px rgb(0 0 0 / 10%);
  outline: none;
  font-size: 1.05rem;
  line-height: 1rem;

  &:active {
    box-shadow: 1px 1px 1px 0px rgb(255 255 255 / 50%), inset 2px 2px 2px 0px rgb(0 0 0 / 10%);
    font-size: 1rem;
    line-height: 1rem;
  }

  &:focus {
    background: none;
  }

  &.loading {
    opacity: 0.3;
  }
}