@dialog-padding: 1.5rem;

.dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: showMask .3s ease forwards;

  &.closing {
    animation: hideMask .3s ease forwards;

    .dialog-content {
      animation: hideDialog .3s ease forwards;
    }
  }

  .dialog-content {
    background-color: #e0e5ec;
    max-width: 90%;
    position: relative;
    border-radius: 1rem;
    animation: showDialog .3s ease forwards;

    .dialog-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: @dialog-padding;
      position: relative;

      .dialog-title {
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
      }

      .icon {
        position: absolute;
        right: @dialog-padding;
        cursor: pointer;
      }

      &:after {
        content: '';
        height: 1px;
        width: 2rem;
        background-color: #000;
        position: absolute;
        bottom: 0;
      }
    }

    .dialog-content-wrapper {
      padding: @dialog-padding;
    }

    .dialog-btn-wrapper {
      padding: @dialog-padding;

      .dialog-send {
        text-align: center;
      }

      .dialog-error {
        color: red;
        margin-top: 0.5rem;
        text-align: center;
      }
    }

    .loading-mask {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 1rem;

      .icon {
        animation: spin 2s linear infinite;
        font-size: 3rem;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes showDialog {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes showMask {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes hideDialog {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes hideMask {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}